<meta charset="utf-8" />
<title>@ViewData["Title"] | Truyện City | Thành phố Truyện</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="TruyenCity.Com" name="description" />
<meta content="TruyenCity.Com" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">