<!-- ========== App Menu ========== -->
<style>
    img {
        "/ max-width: 60px !important;
        height: auto;
    }
</style>

<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/admin/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/admin/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="/admin/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/admin/assets/images/logo-gold.png" alt="" height="50">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <!-- Hệ thống -->
                <li class="menu-title">
                    <span>Nghiệp vụ</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/story" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Truyện</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/chapter" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Chương</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/author" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Tác giả</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/author" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Đánh giá</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/genre" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Thể loại</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/tag" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Tag</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/rating" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Đánh giá</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/contributor" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Contributor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/news" aria-expanded="false">
                        <i class="ri-honour-line"></i>
                        <span>Tin tức</span>
                    </a>
                </li>
                <!-- Hệ thống -->
                <li class="menu-title">
                    <span>Hệ thống</span>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>