<style>
    img {
        max-width: 60px !important;
        height: auto;
    }
</style>

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logo-gold.png" alt="" height="50">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="custom-menu">
                    <a class="custom-menu-link" href="#sidebarBackLog">
                        <i class="mdi mdi-file-document-multiple-outline"></i>
                        <span>BackLog</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="#sidebarCategories">
                        <i class="mdi mdi-form-select"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="#sidebarTCs">
                        <i class="mdi mdi-file-check-outline"></i>
                        <span>TestCase</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="/PageAMISTask">
                        <i class="mdi mdi-calendar-check-outline"></i>
                        <span>AMIS Task</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="/PageReport">
                        <i class="mdi mdi-chart-areaspline"></i>
                        <span>Báo cáo</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="#sidebarHRM">
                        <i class="mdi mdi-format-list-bulleted-square"></i>
                        <span>Danh mục</span>
                    </a>
                </li>
                <li class="custom-menu">
                    <a class="custom-menu-link" href="#sidebarTables">
                        <i class="mdi mdi-cog-outline"></i>
                        <span>Hệ thống</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>