@using WebNovel.Models.Dtos
@model List<StoryDto>
<style>
    .product-price {
        align-items: baseline;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 1.6;
        transition: visibility 0.4s, opacity 0.4s;
    }

    .intro-wrapper .product-price {
        margin-bottom: 0.8rem;
        font-size: 1.3rem;
    }

    .product-price .new-price {
        color: #33333394;
        text-decoration: none;
    }

    .btn.genre {
        display: inline-block;
        font-weight: 100;
        font-size: 1rem;
        padding: 0.5em 1em 0.4em 1em;
        color: #000;
    }

    .btn-outline.genre{
        border: 1px solid #799b5a;
    }

    .btn-outline.genre {
        pointer-events: none;
    }

    .product-media img {
        width: 75px;
        height: 100px;
    }
</style>
@foreach(var story in Model)
{
    <div class="product product-widget pt-0">
        <figure class="product-media">
            <a href="/truyen/@story.Slug">
                <img src="/uploads/story_cover/@story.CoverUrl" alt="@story.Title"
                     width="75" height="100">
            </a>
        </figure>
        <div class="product-details">
            <h4 class="product-name">
                <a href="/truyen/@story.Slug">@story.Title</a>
            </h4>
            <div class="product-price">
                <ins class="new-price">@story.TotalChapters chương</ins>
            </div>
            <div class="btn-wrap ">
                @{
                    var genres = story.GenreNames.Split(',').Select(s => s.Trim()).ToList();
                    //var tags = story.TagNames.Split(',').Select(s => s.Trim()).ToList();
                    foreach(var gen in genres)
                    {
                        <span class="btn genre btn-success btn-outline btn-ellipse">@gen</span>
                    }
                }
            </div>
        </div>
    </div>

}

