@using WebNovel.Models.Dtos
@{
    ViewData["Title"] = "Trang chủ";
    // Layout = "_HomeLayout";
    Layout = "_AppLayout";
    var token = ViewBag.AntiForgeryToken as string;
    var lstRandom = (List<StoryDto>)ViewBag.RandomStories;
    var lstNews = (List<News>)ViewBag.News;
}

<style>
    .intro-section {
        padding-bottom: 3.6rem;
    }

    .all-story-cover .product-media img {
        width: 100%;
        height: auto;
        max-height: 190px;
    }

    .all-story-cover .product-name {
        font-size: 1.7rem;
        margin-bottom: 0.1rem;
    }

    .btn-outline.genre {
        pointer-events: none;
    }
</style>
<input type="hidden" id="RequestVerificationToken" value="@token" />

<section class="intro-section bg-grey">
    <div class="container">
        <div class="intro-wrapper pt-4">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="swiper-container swiper-theme animation-slider pg-inner" data-swiper-options="{
                                    'autoplay': {
                                        'delay': 8000,
                                        'disableOnInteraction': false
                                    }
                                }">
                        <div class="swiper-wrapper row gutter-no cols-1">
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide1 br-sm"
                                 style="background-image: url(uploads/news_cover/@lstNews[0].CoverUrl); background-color: #3D434B;">
                                <div class="banner-content y-50">
                                    <div class="slide-animate" data-animation-options="{
                                                        'name': 'fadeInRightShorter', 'duration': '1s'
                                                    }">
                                        <h5 class="banner-subtitle text-uppercase text-secondary font-weight-bolder ls-25">
                                            Bảng xếp hạng
                                        </h5>
                                        <h3 class="banner-title text-capitalize ls-25 lh-1 mb-3">
                                            @lstNews[0].Title
                                        </h3>
                                        <div class="banner-price-info text-white text-uppercase font-weight-normal">
                                            <strong>Top 1</strong> Vớt Thi Nhân
                                        </div>
                                        <a href="/tin-tuc/@lstNews[0].Slug"
                                           class="btn btn-outline btn-rounded">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 1 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide2 br-sm"
                                 style="background-image: url(uploads/news_cover/@lstNews[1].CoverUrl); background-color: #fff;">
                                <div class="banner-content y-50">
                                    <div class="slide-animate" data-animation-options="{
                                                    'name': 'fadeInDownShorter', 'duration': '1s'
                                                }">
                                        <h5 class="banner-subtitle text-primary text-uppercase font-weight-bolder ls-25">
                                            Bảng xếp hạng
                                        </h5>
                                        <h3 class="banner-title font-weight-normal text-uppercase ls-25 lh-1">
                                            @lstNews[1].Title
                                        </h3>
                                        <div class="banner-price-info text-uppercase text-default ls-25">
                                            Top 1<strong class="text-secondary"> Vớt Thi Nhân</strong>
                                        </div>
                                        <a href="/tin-tuc/@lstNews[1].Slug" class="btn btn-dark btn-rounded">
                                            Xem chi tiết
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 2 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide3 br-sm"
                                 style="background-image: url(uploads/news_cover/@lstNews[2].CoverUrl); background-color: #37363E;">
                                <div class="banner-content x-50 w-100 text-center">
                                    <h5 class="banner-subtitle text-uppercase font-weight-normal text-light slide-animate"
                                        data-animation-options="{
                                                    'name': 'fadeInDownShorter', 'duration': '1s'
                                                }">
                                        Bảng xếp hạng
                                    </h5>
                                    <h3 class="banner-title text-white ls-25 mb-1 slide-animate"
                                        data-animation-options="{
                                                    'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.4s'
                                                }">
                                        @lstNews[2].Title
                                    </h3>
                                    <div class="banner-price-info text-capitalize font-weight-normal text-light ls-25 slide-animate"
                                         data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.6s'}">
                                        <strong class="text-secondary">Top 1</strong> Vớt Thi Nhân
                                    </div>
                                    <a href="/tin-tuc/@lstNews[2].Slug"
                                       class="btn btn-white btn-link btn-underline btn-icon-right slide-animate"
                                       data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1s', 'delay': '.8s'}">
                                        Xem chi tiết<i class="w-icon-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End of Intro Slide 3 -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 right-sidebar sidebar-fixed">
                    <div class="sidebar-overlay">
                        <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                    </div>
                    <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-left"></i></a>
                    <div class="sidebar-content h-100">
                        <div class="title-link-wrapper mb-2">
                            <h4 class="title title-link">Đề cử cho bạn</h4>
                        </div>
                        <div class="widget widget-products">
                            @await Html.PartialAsync("_Partial_YouMayLike", lstRandom)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Intro-section -->

<div class="container mb-10 pb-2">
    <h2 class="title mb-3 pt-5 appear-animate">Truyện dịch</h2>
    <div class="row product-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2" id="products-1">
        @await Html.PartialAsync("_Partial_AllStory", lstRandom)
        <div class="grid-space col-xl-5col col-1"></div>
    </div>

</div>
<!-- End of Container -->

<section class="grey-section pt-10">
    <div class="container mt-2 mb-3">
        <!-- End of Tab -->
        <h2 class="title mb-5 pt-1 appear-animate">Truyện dịch</h2>
        <div class="row product-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2" id="products-1">
            @await Html.PartialAsync("_Partial_AllStory", lstRandom)
            <div class="grid-space col-xl-5col col-1"></div>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- End of Grey Section -->
<script>
    $(document).ready(function () {
        $("#genre-dropdown").addClass("show-dropdown");
    });
</script>